### Dados ausentes em Pandas

In [2]:
import numpy as np
import pandas as pd

In [6]:
df = pd.DataFrame({'A': [10,20,np.nan],
                  'B':[40,np.nan, np.nan],
                  'C':[70, 80, 90]})

In [7]:
df

      A     B   C
0  10.0  40.0  70
1  20.0   NaN  80
2   NaN   NaN  90

In [8]:
df.dropna(axis = 1)

    C
0  70
1  80
2  90

In [9]:
df.dropna(axis = 0)

      A     B   C
0  10.0  40.0  70

In [10]:
df

      A     B   C
0  10.0  40.0  70
1  20.0   NaN  80
2   NaN   NaN  90

In [11]:
df.dropna(thresh = 2)

      A     B   C
0  10.0  40.0  70
1  20.0   NaN  80

In [12]:
df.fillna(value = 'Correto')

         A        B   C
0       10       40  70
1       20  Correto  80
2  Correto  Correto  90

In [13]:
df

      A     B   C
0  10.0  40.0  70
1  20.0   NaN  80
2   NaN   NaN  90

In [14]:
df['A'].fillna(value = df['A'].mean())

0    10.0
1    20.0
2    15.0
Name: A, dtype: float64